@model InventroyManagement.DTOs.ProductDTO

<h2>Product Details</h2>

<dl class="dl-horizontal">
    <dt>Product ID</dt>
    <dd>@Model.ProductID</dd>

    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Price</dt>
    <dd>@Model.Price</dd>

    <dt>Stock Quantity</dt>
    <dd>@Model.StockQuantity</dd>

    <dt>Category</dt>
    <dd>@Model.Category</dd>
</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
