
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<br />
@if (TempData["Msg"] != null)
{
    <span class="alert alert-info">@TempData["Msg"]</span>
}

@if (Model.Count == 0)
{
    <h3>No Data Found</h3>
}
else
{

    <div class="entity-list entity-list-add-item-button">
        <a class="entity-list-item" href="/student/create">
            <div class="item-icon">
                <span class="glyph glyph-add"></span>
            </div>
            <div class="item-content-primary">
                <div class="content-text-primary">Add new Student</div>
            </div>
        </a>
    </div>

    <div class="entity-list entity-list-expandable">

    @foreach (var item in Model)
        {
            <div class="entity-list-item">
                <div class="item-icon">
                    <span class="glyph glyph-contact"></span>
                </div>
                <div class="item-content-secondary">
                    <div class="content-text-primary">@item.Id</div>
                    <div class="content-text-secondary">@item.Dob.ToString("dd MMM, yyyy")</div>
                </div>
                <div class="item-content-primary">
                    <div class="content-text-primary">@item.Name</div>
                    <div class="content-text-secondary">@item.Email</div>
                </div>
                <div class="item-content-expanded">
                    <button class="btn btn-primary">Details</button>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        }

    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                $(document).ready(function () {
                    $('.entity-list-expandable .entity-list-item').click(function () {
                        // Get the parent container
                        var parent = $(this).parent();

                        // Remove the "active" class from all items within the parent
                        $('.entity-list-item', parent).removeClass('active');

                        // Add the "active" class to the clicked item only
                        $(this).addClass('active');
                    });

                    // Click event for anywhere outside the entity list to deactivate all items
                    $(document).click(function (event) {
                        // Check if the click was outside the .entity-list-expandable container
                        if (!$(event.target).closest('.entity-list-expandable').length) {
                            // Remove active class from all entity list items
                            $('.entity-list-expandable .entity-list-item').removeClass('active');
                        }
                    });
                });
            });
        </script>
    }
}