@model IEnumerable<TRPManagement.DTOs.ChannelDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChannelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChannelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishedYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishedYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ChannelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChannelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChannelId })
        </td>
    </tr>
}

</table>
